
.idea/

week 3-1-Jetpack Compose theming/.gradle/

week 3-2-Jetpack Compose Animation/.gradle/

week 3-3-Jetpack Compose Navigation/.gradle/

week 3-3-Jetpack Compose Navigation/local.properties

week 4-1-Testing in Jetpack Compose/.gradle/

week 4-2-Migrating to Jetpack Compose/.gradle/
